<h2>Employees</h2>
<app-my-nav></app-my-nav>
<br>
<mat-form-field>
<input matInput placeholder="Name" [(ngModel)]="employee.name" >
</mat-form-field>
<br>
<mat-form-field>
<input matInput placeholder="Birthday" [(ngModel)]="employee.birthday">
</mat-form-field>
<br>
<mat-form-field>
<input matInput placeholder="Project" [(ngModel)]="employee.project">
</mat-form-field>
<br>
<mat-form-field>
<input matInput placeholder="Company" [(ngModel)]="employee.company">
</mat-form-field>
<br>
<button mat-raised-button color="primary"(click)="saveData()">Save</button>
